body {
	background-image: url("homepagebkg.jpg")
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    color: #4B0082;
    padding: 3px;
}
#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #BA55D3;
    color: purple;
    font-size: 30px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #4B0082;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #BA55D3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: purple;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #BA55D3;
  color: purple;
}


table {
    width:100%;
}

table, th , td {
    border: 1px solid purple;
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: left;
}

table tr:nth-child(odd) {
    background-color: #BA55D3;
}
table tr:nth-child(even) {
    background-color: #BA55D3;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #4B0082;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: purple;
}