html {
	position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
body {
	background-image: url("homepagebkg.jpg");
	background-size: 100%, 100%;
	height: 100%;
	width: 100%;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    color: #4B0082;
}
#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    border-radius: 0 0 5px 5px;
}
p {
	color: #4B0082;
}
header {
    font-family: Georgia, serif;
    border-bottom: 3px solid #BA55D3;
    color: purple;
    font-size: 30px;
}
h1 {
	color: blue;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: Black;
  color: Purple;
  text-align: Right;
}
.glow {
  font-size: 75px;
  text-align: center;
  color: #CC00CC;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
} @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.triangleDown {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid purple;
}
.smallGlow {
  font-size: 40px;
  text-align: center;
  color: #FF00FF;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
} @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.trapezoid {
	border-bottom: 100px solid blue;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 250px;
}
.rectangle {
  height: 50px;
  width: 100%;
  background-image: linear-gradient(purple, black);
}

.topnav {
  background-color: #4B0082;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #BA55D3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: purple;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #BA55D3;
  color: purple;
}



table {
	text-align: center;
	color: black;
}

table, th , td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th {
    
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #4B0082;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: purple;
}